@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.circle{
    position: absolute;
    top: -90px;
    left: -90px;
    transition: ease-in-out 0.5s;
    z-index: 1;
}
.nav{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: brown;
}

.open, .close{
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.open{
    bottom: 50px;
    right: 50px;
}

.close{
    top: 50px;
    left: 50px;
}

.rotate{
    transform: rotateZ(-180deg);
    transition: ease-in-out 0.5s;
}

.page{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    z-index: 0;
    transform-origin: top left;
    transform: rotateZ(-30deg);
    transition: ease 1s;
}