@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #222;
    overflow-x: hidden;
}

.circle{
    position: fixed;
    top: -100px;
    left: -100px;
    transition:transform linear 0.5s;
    z-index: 1;
}
.nav{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: brown;
}
.nav img{
    width: 30px;
    height: 30px;
}
.open, .close{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.open{
    bottom: 40px;
    right: 40px;
}

.close{
    top: 40px;
    left: 40px;
}

.rotate-button{
    transform: rotateZ(-180deg);
    transition: ease-in-out 0.5s;
}

.page{
    min-height: 100vh;
    background-color: #fafafa;
    z-index: 0;
    margin: 0 auto;
    padding: 70px 21vw 0px;
    transition: transform 0.5s linear;
    transform-origin: top left;
}
.rotate-page{
    
    transform: rotateZ(-20deg);
    transition: transform 0.5s linear;
}
h1{
    margin-bottom: 0;
}
.page img{
    width: 100%;
}
.nav-hidden{
    position: fixed;
    width: 500px;
    min-height: 100vh;
    transition:transform ease 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-bottom: 40px;
    top: 0;
    transform: translateX(-500px) rotateZ(20deg);
    transform-origin: top right;
}
.rotate-nav{
    
    transform: translateX(-500px) rotateZ(-20deg);
    transition-delay: 0.2s;
}
.nav-link{
    margin-right: 50px;
    transform-origin: top left;
    transform: rotateZ(20deg);
    transition:transform ease 1s;
    color: rgba(255, 255, 255, 0.806);
    font-size: 20px;
    font-weight: bold;
    text-indent: 10px;
}
.home{
    margin-right: 70px;
}
.about{
    margin-right: 65px;
}
.nav-link img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}