@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

.circle{
    position: absolute;
    top: -90px;
    left: -90px;
    transition: ease-in-out 0.5s;
    z-index: 1;
}
.nav{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: brown;
}
.nav img{
    width: 30px;
    height: 30px;
}
.open, .close{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.open{
    bottom: 50px;
    right: 50px;
}

.close{
    top: 50px;
    left: 50px;
}

.rotate{
    transform: rotateZ(-180deg);
    transition: ease-in-out 0.5s;
}

.page{
    background-color: aquamarine;
    z-index: 0;
    transform-origin: top left;
    transform: rotateZ(-20deg);
    transition: ease 1s;
    margin: 0 auto;
    padding: 70px 21vw 0px;
}
h1{
    margin-bottom: 0;
}
.page img{
    width: 100%;
}
.nav-hidden{
    position: absolute;
    width: 500px;
    height: 100vh;
    transform-origin: top right;
    transition: ease 1s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-bottom: 40px;
    top: 0;
    transform: translateX(-500px) rotateZ(-20deg);
}
.nav-link{
    margin-right: 50px;
    transform-origin: top left;
    transform: rotateZ(20deg);
    transition: ease 1s;
    color: rgba(255, 255, 255, 0.806);
    font-size: 20px;
    font-weight: bold;
    text-indent: 10px;
}
.home{
    margin-right: 70px;
}
.about{
    margin-right: 65px;
}
.nav-link img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}